<h3>Meus Dados</h3> 
<!-- div row para pesquisa --> 
<!--<div class="row">--> 
<!-- fim div row para pesquisa --> 
<!--</div>--> 
<datasource filter="" name="Profissional" entity="api/cronapi/query/s4p4tik7evxy/" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
<div data-component="crn-form" id="crn-form-form-Profissional"> 
  <div class="form"> 
    <form crn-datasource="Profissional" class=""> 
      <br> 
      <fieldset> 
        <div class="component-holder ng-binding ng-scope col-md-12" data-component="crn-button" id="crn-button-635260">
          <button class="btn btn-success" type="submit" ng-click="cronapi.util.makeCallServerBlocklyAsync('blockly.ProfissionalEntidadeWeb:atualizar', null, null)" xattr-size="" xattr-fullsize="" xattr-theme="btn-success" data-component="crn-button"><i class="glyphicon glyphicon-ok"></i> <span></span></button>
          
        </div>
        <div data-component="crn-textinput" id="crn-textinput-nome" class="col-md-12"> 
          <div class="form-group"> 
            <label for="textinput-nome" class="">Nome</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input maxlength="120" type="text" ng-model="Profissional.active.nome" class="form-control" id="textinput-nome" placeholder="Nome" mask="" mask-placeholder="" ng-required="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-cpF" class="col-md-12"> 
          <div class="form-group"> 
            <label for="textinput-cpF" class="">CPF</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input maxlength="20" type="text" ng-model="Profissional.active.cpF" class="form-control" id="textinput-cpF" placeholder="CPF" mask="" mask-placeholder="" ng-required="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-numCRM" class="col-md-8"> 
          <div class="form-group"> 
            <label for="textinput-numCRM" class="">Num CRM</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="integer" ng-model="Profissional.active.numCRM" class="form-control" id="textinput-numCRM" placeholder="Num CRM" mask="" mask-placeholder="" ng-required="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div>
        <div data-component="crn-textinput" id="crn-textinput-crM" class="col-md-4"> 
          <div class="form-group"> 
            <label for="textinput-crM" class="">CRM</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input maxlength="15" type="text" ng-model="Profissional.active.crM" class="form-control" id="textinput-crM" placeholder="CRM" mask="" mask-placeholder="" ng-required="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-dataNascimento" class="col-md-6"> 
          <div class="form-group"> 
            <label for="textinput-dataNascimento" class="">Data de Nascimento</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="text" ng-model="Profissional.active.dataNascimento | mask:'date'" class="form-control" id="textinput-dataNascimento" placeholder="Data de  Nascimento" mask="" mask-placeholder="" ng-required="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-sexo" class="col-md-6"> 
          <div class="form-group"> 
            <label for="textinput-sexo" class="">Sexo</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input maxlength="10" type="text" ng-model="Profissional.active.sexo" class="form-control" id="textinput-sexo" placeholder="Sexo" mask="" mask-placeholder="" ng-required="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-telefone1" class="col-md-6"> 
          <div class="form-group"> 
            <label for="textinput-telefone1" class="">Telefone Principal</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="text" ng-model="Profissional.active.telefone1" class="form-control" id="textinput-telefone1" placeholder="Telefone Principal" mask="" mask-placeholder="" ng-required="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-telefone2" class="col-md-6"> 
          <div class="form-group"> 
            <label for="textinput-telefone2" class="">Telefone Opcional</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="text" ng-model="Profissional.active.telefone2" class="form-control" id="textinput-telefone2" placeholder="Telefone Opcional" mask="" mask-placeholder="" ng-required="false"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div class="component-holder ng-binding ng-scope  col-md-12 genClass2283" data-component="crn-textinputbutton" id="crn-textinputbutton-1011739">
          <div>
            <label class="form-group" for="inputButton9814">Cep</label>
            <div class="input-group">
              <input id="inputButton9814" type="text" mask-placeholder="" ng-required="false" class="form-control" ng-model="Profissional.active.cep" placeholder="Cep" mask="99999-999;0">
              <div class="input-group-btn">
                <button class="btn component-holder btn-primary" type="submit" ng-click="cronapi.util.makeCallServerBlocklyAsync('blockly.ProfissionalEntidadeWeb:buscarCep', null, null)" xattr-size="" xattr-fullsize="" xattr-theme="btn-primary" data-component="crn-button" id="crn-button-9814"><span>Buscar Cep</span></button>
              </div>
            </div>
            <!-- /input-group -->
          </div>
        </div>
        <div data-component="crn-textinput" id="crn-textinput-endereco" class="col-md-7"> 
          <div class="form-group"> 
            <label for="textinput-endereco" class="">Endereço</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input maxlength="120" type="text" ng-model="Profissional.active.endereco" class="form-control" id="textinput-endereco" placeholder="Endereço" mask="" mask-placeholder="" ng-required="false" ng-readonly="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-bairro" class="col-md-5"> 
          <div class="form-group"> 
            <label for="textinput-bairro" class="">Bairro</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input maxlength="60" type="text" ng-model="Profissional.active.bairro" class="form-control" id="textinput-bairro" placeholder="Bairro" mask="" mask-placeholder="" ng-required="false" ng-readonly="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-complemento" class="col-md-8"> 
          <div class="form-group"> 
            <label for="textinput-complemento" class="">Complemento</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input maxlength="80" type="text" ng-model="Profissional.active.complemento" class="form-control" id="textinput-complemento" placeholder="Complemento" mask="" mask-placeholder="" ng-required="false"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div>
        <div data-component="crn-textinput" id="crn-textinput-numero" class="col-md-4"> 
          <div class="form-group"> 
            <label for="textinput-numero" class="">Número</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="integer" ng-model="Profissional.active.numero" class="form-control" id="textinput-numero" placeholder="Número" mask="" mask-placeholder="" ng-required="false"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-cidade" class="col-md-7"> 
          <div class="form-group"> 
            <label for="textinput-cidade" class="">Cidade</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input maxlength="60" type="text" ng-model="Profissional.active.cidade" class="form-control" id="textinput-cidade" placeholder="Cidade" mask="" mask-placeholder="" ng-required="false" ng-readonly="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-estado" class="col-md-5"> 
          <div class="form-group"> 
            <label for="textinput-estado" class="">Estado</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input maxlength="30" type="text" ng-model="Profissional.active.estado" class="form-control" id="textinput-estado" placeholder="Estado" mask="" mask-placeholder="" ng-required="false" ng-readonly="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <!-- NtoN  --> 
        <!-- NtoN  end--> 
      </fieldset> 
    </form> 
    <form> 
      <fieldset> 
        <!-- OneToN --> 
        <!-- OneToOne  end --> 
      </fieldset> 
    </form> 
  </div> 
</div> 
<!-- OneToOne modal --> 
<!-- OneToOne modal end-->