<h3>Resultado</h3>

<div data-component="crn-textinput" id="crn-textinput-nome" class="">
    <div class="form-group">
        <label for="textinput-nome" class="">Exame</label>
<!-- else for if !model.hasCronappFramework() -->
                <input maxlength="120" type="text" ng-model="Resultado.active.Exame" class="form-control" id="textinput-nome" placeholder="Exame" mask="" mask-placeholder="" ng-required="true">
         <!-- end if !model.hasCronappFramework() -->
    </div>
    <div class="component-holder ng-binding ng-scope" data-component="crn-richtextarea" id="crn-richtextarea-258568">
      <div class="form-group">
        <label for="textAreaTemplate">Conteúdo do laudo:</label>
        <textarea id="textArea1165" ng-model="vars.conteudo" class="form-control" summernote="" lang="pt-BR"></textarea>
      </div>
    </div>
    <div ng-bind-html="vars.conteudo | renderHTML">
      
    </div>
</div>

