<ion-view view-title="Alterar Senha"> 
	<ion-content data-content="true" data-replace="true">
	 <form class="form-validation" autocomplete="off" name="form" role="form"> 
    <div class="list list-inset"> 
        <label class="item item-input"> 
        <i class="icon ion-asterisk placeholder-icon"></i> 
            <input type="password" class="form-control" readonly="readonly" id="oldPassword" placeholder="Senha Anterior"> 
        </label> 
        <label class="item item-input"> 
        <i class="icon ion-asterisk placeholder-icon"></i> 
            <input type="password" class="form-control" readonly="true" id="newPassword" placeholder="Nova Senha"> 
        </label> 
        <label class="item item-input"> 
            <i class="icon ion-asterisk placeholder-icon"></i> 
        <input type="password" class="form-control" readonly="true" id="newPasswordConfirmation" placeholder="Confirmação"> 
        </label> 
    </div>
    <div class="list list-inset"> 
        <button class="button button-block button-positive" ng-click="" ng-disabled="">Mudar Senha</button>
    </div>
  </form>
	</ion-content>
</ion-view>