<ion-view cache-view="false" view-title="Meus Exames"> 
  <ion-nav-back-button> 
  </ion-nav-back-button> 
  <ion-nav-buttons side="right"> 
  </ion-nav-buttons> 
  <ion-nav-buttons side="left"> 
  </ion-nav-buttons> 
  <ion-content> 
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854"> 
      <datasource name="Resultado" entity="api/cronapi/query/t81bzb2sxk4y/" keys="id" rows-per-page="10" delete-message="Deseja remover?" class=""></datasource> 
    </div> 
    <div crn-datasource="Resultado" class=""> 
      <ion-list can-swipe="listCanSwipe"> 
        <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData);blockly.js.blockly.ModalMeusExames.exibir(rowData)"> 
          <ion-item class="item dark component-holder  col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-248810"> 
            <div class="row"> 
              <div class=""> 
                <h3>{{rowData.nomeExame}}</h3> {{rowData.estabelecimentoDeSaude.nome}} 
                <br> {{rowData.dataEmissao | date:'dd/MM/yyyy'}} 
              </div> 
              <button class="button component-holder button-full button-large button-positive button-clear" type="submit" ng-click="blockly.js.blockly.ModalMeusExames.exibir(rowData)" data-component="crn-button" id="crn-button-144412" xattr-type="button-clear" xattr-fullsize="button-full" xattr-size="button-large" xattr-theme="button-positive"></button> 
            </div> 
          </ion-item> 
        </ion-item> 
      </ion-list> 
    </div> 
  </ion-content> 
</ion-view> 
<!-- modal begin --> 
<div class="modal fade genClass8370" id="modal12384"> 
  <div class="modal-dialog"> 
    <ion-scroll zooming="false" direction="y" style="width:auto;height:500px"> 
      <div class="modal-content"> 
        <div class="component-holder modal-header"> 
          <div class="list-group list-group-sm col"> 
            <div data-container="true" data-replace="true"> 
              <!-- emissor begin --> 
              <label for="textinput-emissor" class="item item-input item-stacked-label"> <span class="input-label">Emitido por:</span> <input type="text" ng-model="Resultado.active.estabelecimentoDeSaude.nome" id="textinput-emissor" name="textinput-emissor" placeholder="" required ng-disabled="true"> </label> 
              <!-- dtEmissao begin --> 
              <label for="textinput-dtEmissao" class="item item-input item-stacked-label"> <span class="input-label">Data da Emissão:</span> <input type="text" placeholder="" ng-model="Resultado.active.dataEmissao | date:'dd/MM/yyyy'" id="textinput-dtEmissao" name="textinput-dtEmissao" required ng-disabled="true"> </label> 
              <h2 xattr-position="text-center" class="text-center component-holder" data-component="crn-label" id="crn-label-883918">{{Resultado.active.nomeExame}}</h2> 
            </div> 
          </div> 
        </div> 
        <div class="modal-body"> 
          <div class="list-group list-group-sm col"> 
            <div data-container="true" data-replace="true"> 
              <!-- material begin --> 
              <label for="textinput-material" class="item item-input item-stacked-label"> <span class="input-label">Material:</span> <input type="text" placeholder="Ausente" ng-model="Resultado.active.materialExame" id="textinput-material" name="textinput-material" required ng-disabled="true"> </label> 
              <!-- metodo begin --> 
              <label for="textinput-metodo" class="item item-input item-stacked-label"> <span class="input-label">Método:</span> <input type="text" placeholder="Ausente" ng-model="Resultado.active.metodo" id="textinput-metodo" name="textinput-metodo" required ng-disabled="true"> </label> 
              <!-- referencia begin --> 
              <label for="textinput-referencia" class="item item-input item-stacked-label"> <span class="input-label">Valor de Referência:</span> <input type="text" placeholder="Ausente" ng-model="Resultado.active.valorReferencia" id="textinput-referencia" name="textinput-referencia" required ng-disabled="true"> </label> 
              <!-- encontrado begin --> 
              <label for="textinput-encontrado" class="item item-input item-stacked-label"> <span class="input-label">Valor Encontrado:</span> <input type="text" ng-model="Resultado.active.valorResultado" id="textinput-encontrado" name="textinput-encontrado" placeholder="Ausente" required ng-disabled="true"> </label> 
              <!-- comentario begin --> 
              <label for="textinput-comentario" class="item item-input item-stacked-label"> <span class="input-label">Comentário:</span> <input type="text" placeholder="Ausente" ng-model="Resultado.active.comentario" id="textinput-comentario" name="textinput-comentario" required ng-disabled="true"> </label> 
              <!-- nota begin --> 
              <label for="textinput-nota" class="item item-input item-stacked-label"> <span class="input-label">Nota:</span> <input type="text" placeholder="Ausente" ng-model="Resultado.active.nota" id="textinput-nota" name="textinput-nota" required ng-disabled="true"> </label> 
              <!-- conclusao begin --> 
              <label for="textinput-conclusao" class="item item-input item-stacked-label"> <span class="input-label">Conclusão:</span> <input type="text" placeholder="Ausente" ng-model="Resultado.active.conclusao" id="textinput-conclusao" name="textinput-conclusao" required ng-disabled="true"> </label> 
            </div> 
          </div> 
        </div> 
        <div class="modal-footer"> 
          <div class="list-group list-group-sm row"> 
            <button class="button component-holder button-block button-clear button-assertive" type="submit" ng-click="blockly.js.blockly.ModalMeusExames.fechar()" data-component="crn-button" id="crn-button-380429" xattr-fullsize="button-block" xattr-type="button-clear" xattr-theme="button-assertive"><i class="ion ion-arrow-left-a"></i> <span>Voltar</span></button> 
          </div> 
        </div> 
      </div> 
    </ion-scroll> 
  </div> 
</div> 
<!-- modal begin --> 
<div class="modal fade genClass8370" id="modalExame"> 
  <div class="modal-dialog"> 
    <ion-scroll zooming="false" direction="y,x" style="width:auto;height:500px"> 
      <div class="modal-content"> 
        <div class="component-holder modal-header"> 
          <div class="list-group list-group-sm col"> 
            <div data-container="true" data-replace="true"> 
              <ion-item class="item dark component-holder col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-396803"> 
                <h4 xattr-position="text-left" class="text-left" data-component="crn-label" id="crn-label-794171">Emitido por: {{Resultado.active.estabelecimentoDeSaude.nome}}</h4> 
                <h4 xattr-position="text-left" class="text-left" data-component="crn-label" id="crn-label-451145">Data da Emissão: {{Resultado.active.dataEmissao | date:'dd/MM/yyyy'}}</h4> 
              </ion-item> 
            </div> 
          </div> 
        </div> 
        <div class="modal-body"> 
          <div class="list-group list-group-sm col"> 
            <div data-container="true" data-replace="true"> 
              <h2 xattr-position="text-center" class="text-center component-holder" data-component="crn-label" id="crn-label-883918">{{Resultado.active.nomeExame}}</h2> 
              <ion-item class="item dark component-holder col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-396803"> 
                <h3 xattr-position="text-left" class="text-left" data-component="crn-label" id="crn-label-794171">Material:</h3> 
                <div class="component-holder ng-binding ng-scope" data-component="crn-textarea" id="crn-textarea-165536"> 
                  <div class=""> 
                    <textarea id="textArea1225" ng-model="Resultado.active.materialExame" readonly cols="35" maxlength="300" style="resize:none;font-size:12px;" resize="none" rows="2" placeholder="" wrap="soft"> </textarea> 
                  </div> 
                </div> 
                <h3 xattr-position="text-left" class="text-left" data-component="crn-label" id="crn-label-451145">Método:</h3> 
                <div class="component-holder ng-binding ng-scope" data-component="crn-textarea" id="crn-textarea-165536"> 
                  <div class=""> 
                    <textarea id="textArea1225" ng-model="Resultado.active.metodo" readonly cols="35" maxlength="300" style="resize:none;font-size:12px;" resize="none" rows="2" placeholder="" wrap="soft"> </textarea> 
                  </div> 
                </div> 
                <h3 xattr-position="text-left" class="text-left" data-component="crn-label" id="crn-label-451145">Valor de Referência:</h3> 
                <div class="component-holder ng-binding ng-scope" data-component="crn-textarea" id="crn-textarea-165536"> 
                  <div class=""> 
                    <textarea id="textArea1225" ng-model="Resultado.active.valorReferencia" readonly cols="35" maxlength="300" style="resize:none;font-size:12px;" resize="none" rows="4" placeholder="" wrap="soft"> </textarea> 
                  </div> 
                </div> 
                <h3 xattr-position="text-left" class="text-left" data-component="crn-label" id="crn-label-451145">Valor Encontrado:</h3> 
                <div class="component-holder ng-binding ng-scope" data-component="crn-textarea" id="crn-textarea-165536"> 
                  <div class=""> 
                    <textarea id="textArea1225" ng-model="Resultado.active.valorResultado" readonly cols="35" maxlength="300" style="resize:none;font-size:12px;" resize="none" rows="2" placeholder="" wrap="soft"> </textarea> 
                  </div> 
                </div> 
                <h3 xattr-position="text-left" class="text-left" data-component="crn-label" id="crn-label-451145">Comentário:</h3> 
                <div class="component-holder ng-binding ng-scope" data-component="crn-textarea" id="crn-textarea-165536"> 
                  <div class=""> 
                    <textarea id="textArea1225" ng-model="Resultado.active.comentario" readonly cols="35" maxlength="300" style="resize:none;font-size:12px;" resize="none" rows="2" placeholder="" wrap="soft"> </textarea> 
                  </div> 
                </div> 
                <h3 xattr-position="text-left" class="text-left" data-component="crn-label" id="crn-label-451145">Nota:</h3> 
                <div class="component-holder ng-binding ng-scope" data-component="crn-textarea" id="crn-textarea-165536"> 
                  <div class=""> 
                    <textarea id="textArea1225" ng-model="Resultado.active.nota" readonly cols="35" maxlength="300" style="resize:none;font-size:12px;" resize="none" rows="9" placeholder="" wrap="soft"> </textarea> 
                  </div> 
                </div> 
                <h3 xattr-position="text-left" class="text-left" data-component="crn-label" id="crn-label-451145">Conclusão:</h3> 
                <div class="component-holder ng-binding ng-scope" data-component="crn-textarea" id="crn-textarea-165536"> 
                  <div class=""> 
                    <textarea id="textArea1225" ng-model="Resultado.active.conclusao" readonly cols="35" maxlength="300" style="resize:none;font-size:12px;" resize="none" rows="2" placeholder="" wrap="soft"> </textarea> 
                  </div> 
                </div> 
              </ion-item> 
            </div> 
          </div> 
        </div> 
        <div class="modal-footer"> 
            
              <button class="button component-holder button-block button-assertive" type="submit" ng-click="blockly.js.blockly.ModalMeusExames.fechar()" data-component="crn-button" id="crn-button-661970" xattr-fullsize="button-block" xattr-type="" xattr-theme="button-assertive"><i class="ion ion-android-arrow-back"></i> <span>Voltar</span></button> 
            
            
              <button class="button component-holder button-block button-positive" type="submit" ng-click="blockly.js.blockly.ModalMeusExames.baixarRelatorio()" data-component="crn-button" id="crn-button-662260" xattr-fullsize="button-block" xattr-theme="button-positive"><i class="ion ion-ios-cloud-download"></i> <span>Baixar</span></button> 
            
        </div> 
      </div> 
    </ion-scroll> 
  </div> 
</div>