

.genClass263 { 
  text-align: right;
}


.genClass2283 { 
  margin-bottom: 10px;
}

.genClass8098 { 
  text-align: right;
}

.titulo{
  text-align: left;
}

.genClass9441 { 
  margin-left: -15px;
  margin-top: 50px;
}

.genClass9654 { 
  margin-top: 50px;
}

.genClass9622 { 
  margin-left: 160px;
}