

.genClass7899 { 
  font-size: 16px;
}

.genClass450 { 
  position: relative;
  right: 4px;
}

.genClass1399 { 
  font-family: "Arial Black", Gadget, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.genClass227 { 
  background-color: rgb(194, 158, 254);
}

.genClass5117 { 
  width: 600px;
}

.genClassModal { 
  width: auto;
  padding-top: 200px;
}

.genClassProfi { 
  width: auto;
  padding-top: 200px;
}

.genClass7400 { 
  width: auto;
  padding-top: 200px;
}

.genClass3336 { 
  width: auto;
  padding-top: 200px;
}

.genClass8370 { 
  width: auto;
  padding-top: 180px;
}

.genClass726 { 
  float: right;
}

.genClass3381 { 
  float: right;
}

.genClass3854 { 
  float: right;
}

.genClass4038 { 
  float: right;
}

.genClass7125 { 
  float: right;
}

.genClass2367 { 
  float: right;
}

.genClass6473 { 
  width: auto;
  padding-top: 200px;
}

.genClass6131 { 
  float: right;
}

.genClass441 { 
  width: auto;
  padding-top: 200px;
}

.genClass9310 { 
  text-align: center;
}

.genClassBtnRight{
  text-align: right;
}

